<div class="page">
    <div *ngIf="!eventsFound" class="spinner-container">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div *ngIf="eventsFound" class="container">
        <div class="search-box">
            <h2>Events</h2>
            <input type="text" id="textInput" placeholder="Enter data to filter by" class="form-control" name="filterInput" [(ngModel)]="filterInput" />
            <select style="width: 10rem; padding: .5rem; cursor: pointer;" [(ngModel)]="sortOption" (change)="sortEvents()">
              <option value="">Select sorting option</option>
              <option value="name-asc">Name (asc)</option>
              <option value="name-desc">Name (desc)</option>
              <option value="category-asc">Category (asc)</option>
              <option value="category-desc">Category (desc)</option>
          </select>
        </div>
        <div class="table">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Event Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Location</th>

                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events | filter:filterInput; let i = index">
                        <th [ngClass]="{'grey-body': i%2==0}" scope=" row ">{{i + 1}}</th>
                        <td [ngClass]="{'grey-body': i%2==0}" class="event-name-link" (click)="gotoDetails(event._id)">{{event.name}}</td>
                        <td [ngClass]="{'grey-body': i%2==0}">{{event.description}}</td>
                        <td [ngClass]="{'grey-body': i%2==0}">{{event.category}}</td>
                        <td [ngClass]="{'grey-body': i%2==0}">{{event.status}}</td>
                        <td [ngClass]="{'grey-body': i%2==0}">{{event.location}}</td>

                        <td [ngClass]="{'grey-body': i%2==0}">
                            <!-- <i *ngIf="user.userType === 'organiser'" (click)="updateevent(event._id) " class="icon icon-edit bi bi-pencil "></i> -->
                            <i (click)="deleteevent(event._id) " class="icon icon-delete bi bi-trash "></i>
                        </td>
                    </tr>

                </tbody>
            </table>


        </div>
        <div *ngIf="user.userType === 'organiser'" class="add-event">
            <!-- <button class="btn btn-primary" [routerLink]="[{outlets: {authorized: ['addevent']}}]">Add event</button> -->
            <button class="btn btn-primary" (click)="add()">Add event</button>
        </div>
    </div>