<div class="sidebar">
    <div class="top">
        <img src="profile.svg" alt="">
        <div>
            <p class="user-name">{{user.username}}</p>
            <p class="user-type">[{{user.userType}}]</p>
        </div>
    </div>
    <ul class="middle">
        <li *ngIf="user.userType ==='admin'"><a routerLinkActive="active" [routerLink]="[{outlets: {authorized: ['status']}}]"><i class="bi bi-clipboard-data"></i>Quick Status</a></li>
        <li *ngIf="user.userType ==='organiser'"><a routerLinkActive="active" [routerLink]="[{outlets: {authorized: ['manage-club']}}]"><i class="bi bi-kanban"></i>Manage Club</a></li>
        <li *ngIf="user.userType ==='admin'"><a routerLinkActive="active" [routerLink]="[{outlets: {authorized: ['organizers']}}]"><i class="bi bi-people"></i>Organizers</a></li>
        <li *ngIf="user.userType ==='admin'"><a routerLinkActive="active" [routerLink]="[{outlets: {authorized: ['clubs']}}]"><i class="bi bi-backpack"></i>Clubs</a></li>
        <li><a routerLinkActive="active" [routerLink]="[{outlets: {authorized: ['events']}}]"><i class="bi bi-calendar-event"></i>Events</a></li>
        <li *ngIf="user.userType ==='admin'"><a routerLinkActive="active" [routerLink]="[{outlets: {authorized: ['proposals']}}]"><i class="bi bi-file-plus"></i>Proposals</a></li>
    </ul>
    <button class="bottom" (click)="logout()">
      <img src="logout.svg" alt="">
      <p>Log Out</p>
    </button>
</div>
