<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 col-xl-5">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Clubs</h6>
                    <h2 class="text-right mb-5"><i class="fa-solid fa-users"></i><span class="m-3">{{clubs.length}}</span></h2>
                    <!-- <p class="m-b-0">Returning Users<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-5">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Events</h6>
                    <h2 class="text-right mb-5"><i class="fa-regular fa-file "></i><span class="m-3">{{events.length}}</span></h2>
                    <!-- <p class="m-b-0">Taken Exams<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-5">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Proposals</h6>
                    <h2 class="text-right mb-5"><i class="fa-regular fa-folder"></i><span class="m-3">{{proposals.length}}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-5">
            <div class="card order-card" style="background-color: rgb(214, 103, 214);">
                <div class="card-block">
                    <h6 class="m-b-20">Organizers</h6>
                    <h2 class="text-right mb-5"><i class="fa-regular fa-folder"></i><span class="m-3">{{organizers.length}}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>

        <!-- <div class="col-md-4 col-xl-5">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Organizers</h6>
                    <h2 class="text-right mb-5"><i class="fa fa-credit-card f-left"></i><span class="m-3">{{organizers.length}}</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div> -->
    </div>
</div>