<div class="page">
    <div class="search-box">
        <h2>Proposals</h2>
        <input type="text" id="textInput" placeholder="Enter data to filter by" class="form-control" name="filterInput" [(ngModel)]="filterInput" />
        <select style="width: 10rem; padding: 0.5rem; cursor: pointer" [(ngModel)]="sortOption" (change)="sortProposals()">
      <option value="">Select sorting option</option>
      <option value="organiser.username-asc">Username (asc)</option>
      <option value="organiser.username-desc">Username (desc)</option>
      <option value="club.name-asc">Club Name (asc)</option>
      <option value="club.name-desc">Club Name (desc)</option>
    </select>
    </div>

    <div class="proposals">
        <div *ngFor="let proposal of proposals | filter : filterInput" class="proposal">
            <div class="organiser">
                <h4 class="organizer-title">Organiser Details</h4>
                <div class="details">
                    <p>Username:</p>
                    <p class="detail">{{ proposal.organiser.username }}</p>
                </div>
                <div class="details">
                    <p>Email:</p>
                    <p class="detail">{{ proposal.organiser.email }}</p>
                </div>
                <div class="details">
                    <p>Phone:</p>
                    <p class="detail">{{ proposal.organiser.phone }}</p>
                </div>
            </div>
            <div class="club">
                <h4 class="club-title">Club Details</h4>
                <div class="details">
                    <p>Name:</p>
                    <p class="detail">{{ proposal.club.name }}</p>
                </div>
                <div class="details">
                    <p>Category:</p>
                    <p class="detail">{{ proposal.club.category }}</p>
                </div>
                <div class="details">
                    <p>Description:</p>
                    <p class="detail">{{ proposal.club.description }}</p>
                </div>
            </div>
            <div class="buttons">
                <p *ngIf="loading">Loading...</p>
                <button (click)="acceptProposal(proposal._id)" class="accept-btn">
          <i class="bi bi-check-lg"></i>Accept
        </button>
                <button (click)="rejectProposal(proposal._id)" class="reject-btn">
          <i class="bi bi-x-lg"></i>Reject
        </button>
            </div>
        </div>
    </div>
</div>