<div class="navbar">
    <div class="logo">Event Hub</div>
    <ul class="links">
        <li>
            <a routerLink="/" routerLinkActive="active">HOME</a>
        </li>
        <li>
            <a routerLink="/clubs" routerLinkActive="active">CLUBS</a>
        </li>
        <li>
            <a routerLink="/events" routerLinkActive="active">EVENTS</a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="active">CONTACT US</a>
        </li>
    </ul>
    <div>
        <button routerLink="/login">WORK WITH US</button>
    </div>
</div>