<div class="page">
    <div class="top">
        <input type="text" placeholder="search">
        <ul class="buttons">
            <li><a routerLink="">Social</a></li>
            <li><a routerLink="">Academic</a></li>
            <li><a routerLink="">Managemnt</a></li>
            <li><a routerLink="">Undefined</a></li>
            <li><a routerLink="">Social</a></li>
            <li><a routerLink="">Academic</a></li>
            <li><a routerLink="">Managemnt</a></li>
            <li><a routerLink="">Undefined</a></li>
        </ul>
    </div>
    <div class="clubs">
        <div class="club" *ngFor="let club of allClubs">
            <img *ngIf="club.image" src="{{club.image}}" alt="">
            <img *ngIf="!club.image" src="image6.svg" alt="">
            <p>{{club.status}}</p>
            <p class="title">{{club.name}}</p>
            <p class="description">{{club.description}}</p>
            <a *ngIf="club.status ==='open'" routerLink="/join-club/{{club._id}}">Attend</a>
        </div>
    </div>
</div>