<div class="page">
    <div class="top">
        <input type="text" placeholder="search">
        <ul class="buttons">
            <li><a routerLink="">Social</a></li>
            <li><a routerLink="">Academic</a></li>
            <li><a routerLink="">Managemnt</a></li>
            <li><a routerLink="">Undefined</a></li>
            <li><a routerLink="">Social</a></li>
            <li><a routerLink="">Academic</a></li>
            <li><a routerLink="">Managemnt</a></li>
            <li><a routerLink="">Undefined</a></li>
        </ul>
    </div>
    <div class="events">
        <div class="event" *ngFor="let event of allEvents">
            <img *ngIf="event.image" routerLink="/reserve-ticket/{{event._id}}" src="{{event.image}}" alt="">
            <img *ngIf="!event.image" routerLink="/reserve-ticket/{{event._id}}" src="image7.svg" alt="">
        </div>
    </div>
</div>