<div class="page">
    <div class="top">
        <input type="text" placeholder="Search" name="filterInput" [(ngModel)]="filterInput">

        <ul class="buttons">
            <li>
                <button (click)="filterEvents('social')">Social</button>
            </li>
            <li>
                <button (click)="filterEvents('academic')">Academic</button>
            </li>
            <li>
                <button (click)="filterEvents('management')">Management</button>
            </li>
            <li>
                <button (click)="filterEvents('undefined')">Undefined</button>
            </li>
            <li>
                <button (click)="setEvents()">All</button>
            </li>
        </ul>
    </div>
    <div class="events">
        <div class="event" *ngFor="let event of allEvents | filter:filterInput">
            <img *ngIf="event.logo" src="{{event.logo}}" alt="">
            <img *ngIf="!event.logo" src="image7.svg" alt="">
            <p>{{event.status}}</p>
            <p class="title">{{event.name}}</p>
            <p class="description">{{event.description}}</p>
            <a *ngIf="event.status ==='open'" routerLink="/reserve-ticket/{{event._id}}">Attend</a>
        </div>
    </div>
</div>