.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top>input {
    width: 40rem;
    background-color: #303030;
    color: #00d4fc;
    padding: .5rem;
    font-size: .8rem;
}

.top>.buttons {
    display: flex;
    margin: 1rem 0;
    width: 40rem;
    overflow-x: scroll;
    scrollbar-width: none;
}

.top>.buttons>li {
    border-radius: 1rem;
    margin: 0 .5rem;
    background-color: #303030;
    color: #fff;
    width: fit-content;
    padding: .25rem .5rem;
    font-size: .8rem;
}

.events {
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.events>.event {
    height: 25rem;
    padding-top: 1rem;
    margin: .5rem;
    cursor: pointer;
    /* border: 1px solid #00d4fc; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.events>.event>a {
    font-size: 1rem;
    color: black;
    background-color: #038eaa;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.events>.event>p {
    color: #d4d3d3;
    align-self: flex-start;
    margin-left: 4rem;
}

.title {
    font-weight: 700;
}

.description {
    font-size: .8rem;
}

.events>.event>a:hover {
    background-color: #00d4fc;
}

.events>.event>img {
    width: 12rem !important;
    height: 10rem !important;
    border-radius: .5rem
}