<div class="footer">
    <div class="top">
        <div class="left">
            <p>DISCOVER YOUR FAVOURITE CLUBS HERE IN</p>
            <p class="colored">EVENT HUB!</p>
        </div>
        <ul class="right">
            <li>
                <p class="title">More on Event Hub</p>
            </li>
            <li><a routerLink="/user">Organiser</a></li>
            <li><a routerLink="/contact">Contact us</a></li>
        </ul>
    </div>
    <div class="bottom">
        <div class="left">
            <p>Copyright 2025 Event Hub, Inc. Terms & Privacy</p>
        </div>
        <ul class="right">
            <li><img src="instagram.svg" alt="" /></li>
            <li><img src="facebook.svg" alt="" /></li>
            <li><img src="linkedin.svg" alt="" /></li>
            <li><img src="twitter.svg" alt="" /></li>
            <li><img src="youtube.svg" alt="" /></li>
        </ul>
    </div>
</div>